<!-- Services -->
<!-- <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="tabbable" id="tabs">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="#tab1" data-toggle="tab">Age</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" href="#tab2" data-toggle="tab">Ethnic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab3" data-toggle="tab">Gender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab4" data-toggle="tab">Nationality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab5" data-toggle="tab">Occupation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab6" data-toggle="tab">Religion</a>
            </li>
          </ul>
          <div class="tab-content" width="900%">
            <div class="tab-pane" id="tab1">
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/date_of_birth Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
            <div class="tab-pane active" id="tab2">
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/ethnic_group Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/gender Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
            <div class="tab-pane" id="tab4">
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/nationality Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
            <div class="tab-pane" id="tab5">
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/occupation Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
            <div class="tab-pane" id="tab6" >
              <div class="col-lg-10 mx-auto text-center">
              <iframe scrolling="no" style="border:none;" seamless="seamless" src="plotly/ivan/religion Attention trend of different groups.html" height="600" width="150%">
              </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>	  
  </div>
  </div>
</section> -->

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>
<!-- End Services -->