
<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/startup.js" integrity="sha512-LZZ88buOWCaSouKg9UNiW3N/vhBCprp0tpG9uNp+r6maXLDeBddAaqTmDduadI+WghoGaNlZG4NgCX0Xsxlfxg==" crossorigin="anonymous" referrerpolicy="no-referrer">$$aa$$</script>
</head>

<section class="page-section" id="{{ site.data.sitetext[site.locale].topics.section | default: "topics" }}">
<!-- Big picture head -->
<header class="masthead2">
  <div class="container">
    <div class="intro-text">
  {%- if site.data.sitetext[site.locale].header_topic.title -%}
      <div class="intro-lead-in">{{ site.data.sitetext[site.locale].header_topic.title | markdownify }}</div>
  {%- endif -%}
  {%- if site.data.sitetext[site.locale].header_topic.text -%}
      <div class="intro-heading text-uppercase">{{ site.data.sitetext[site.locale].header_topic.text | markdownify }}</div>
  {%- endif -%}
    </div>
  </div>
</header>

<!-- 0.intro -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      {%- if site.data.sitetext[site.locale].topics.title -%}
      <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title | default: "" }}</h2>
      {%- endif -%}
      <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].topics.text | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_0 | markdownify }}</div>
    </div>
  </div>

<!-- 1.proportion -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">&nbsp</h3>
      <h3 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title_1_0 | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_1_0 | markdownify }}</div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
      <iframe scrolling="no" style="border:none;" seamless="seamless" src="/plotly/topic_proportion.html" height="600" width="100%"></iframe>
    </div>
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_1_1 | markdownify }}</div>
    </div>
  </div>
  
<!-- 2.proportion of speakers -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">&nbsp</h3>
      <h3 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title_2_0 | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_2_0 | markdownify }}</div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
      <iframe scrolling="no" style="border:none;" seamless="seamless" src="/plotly/speaker_proportion.html" height="600" width="100%"></iframe>
    </div>
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_2_1 | markdownify }}</div>
    </div>
  </div>

  <!-- 3.proportion of topics of speakers -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">&nbsp</h3>
      <h3 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title_3_0 | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_3_0 | markdownify }}</div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
      <iframe scrolling="no" style="border:none;" seamless="seamless" src="/plotly/speaker_topic_proportion.html" height="600" width="100%"></iframe>
    </div>
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_3_1 | markdownify }}</div>
    </div>
  </div>

  <!-- 4.topic change over time -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">&nbsp</h3>
      <h3 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title_4_0 | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_4_0 | markdownify }}</div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
      <iframe scrolling="no" style="border:none;" seamless="seamless" src="/plotly/topic_over_time.html" height="600" width="120%"></iframe>
    </div>
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_4_1 | markdownify }}</div>
    </div>
  </div>

    <!-- 5.topic network -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="section-heading text-uppercase">&nbsp</h3>
      <h3 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].topics.title_5_0 | default: "" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_5_0 | markdownify }}</div>
    </div>
    <div class="col-lg-8 mx-auto text-center">
      <iframe scrolling="no" style="border:none;" seamless="seamless" src="/plotly/map.html" height="600" width="120%"></iframe>
    </div>
    <div class="col-lg-10 mx-auto text-justify">
      <div class="large text-muted">{{ site.data.sitetext[site.locale].topics.body_5_1 | markdownify }}</div>
    </div>
  </div>

  


  </div>
</section>

</html>
<!-- End About -->