// Global styling for this template
body {
  font-size: 18px;
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.bg{
  background: url(/assets/img/wordcloud/health.png) no-repeat center;
  background-size: 75%;
  width: 25px;
  height: 23px;
  padding: 50px 50px;
   }
.bg:hover{
  background: url(/assets/img/wordcloud/green.jpg) no-repeat center;
  background-size: 100%;
  width: 25px;
  height: 40px;
  padding: 150px 150px;
}

.bg2{
  background: url(/assets/img/wordcloud/homeless.png) no-repeat center;
  background-size: 75%;
  width: 25px;
  height: 23px;
  }
.bg2:hover{
  background: url(/assets/img/wordcloud/purple.jpg) no-repeat center;
  background-size: 100%;
  width: 25px;
  height: 40px;
  padding: 150px 150px;
}

.bg3{
  background: url(/assets/img/wordcloud/politics.png) no-repeat center;
  background-size: 75%;
  width: 25px;
  height: 23px;
  padding: 50px 50px;
   }
.bg3:hover{
  background: url(/assets/img/wordcloud/yellow.jpg) no-repeat center;
  background-size: 100%;
  width: 25px;
  height: 40px;
  padding: 150px 150px;
}

.divcss5{
  width:200px; 
  height:300px;
} 